.spag{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: aqua;
}

h4,
p{
    text-align: center;
}


*{border: 2px solid red;}

.body{
    display: flex;
    gap: 10px;
}

.ingred{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    flex-grow: 10;
}

ol{
    display: flex;
    flex-wrap: wrap;
    flex-grow: -1;
    max-width: 400px;
}