h1{
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20%;
    border-style: groove;
    border-color: aqua;
}

li{
    text-align: center;
    font-size: 36px;

}

ul{
    list-style: none;
}