h1{
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20%;
    border-style: groove;
    border-color: aqua;
}

/*li{
    text-align: center;
    font-size: 36px;
    margin: 50px;
    display: block;
    width: 50%;
}

ul{
    list-style: none;
    display: flex;
} 

*{border: 2px solid red;}*/

.links{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 45px;
    font-size: 36px;
    flex: 1;
}